.box{
    height: 100vh;
}
.text-right{
    height: 100vh;
}

.text-disc{
    color: rgba(46, 38, 111, 1);

}

.Popular{
    color: rgba(46, 38, 111, 1);
}

.food{
    color:  rgba(63, 58, 58, 1);
    

}